@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
background-color: hsl(212, 45%, 89%);
font-family: 'Outfit', sans-serif;
font-size: 15px;
text-align: center;
margin: 100px 0 0 0;
}

.qr-container{
    background-color: white;
    max-width: 375px;
    width: 100%;
    padding: 20px;
    margin: 100px 20px 0px 40px;
    margin: 0 auto ; 
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-container h1{
    color: hsl(218, 44%, 22%);

    margin: 5px 10px 10px 0;
}

.qr-container p{
    color:hsl(220, 15%, 55%);
    margin:0;
}

img{
    max-width: 375px;
   border-radius: 10px;
}




.attribution { 
    font-size: 11px; 
    margin: 10px;
}
.attribution a { color: hsl(228, 45%, 44%); }